<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CreateOpportunity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 
  <appSettings>
    <add key="userName" value="otis@wilmingtonplc.com.full"/>
    <add key="password" value="MerciaIntegration19"/>
    <add key="passwordSecurityToken" value="lwiMjHXr6okNenRcbgDYTEUfi"/>
    <add key="hour" value="08"/>
    <add key="minute" value="42"/>
    <add key="second" value="00"/>
    <add key="RetryCount" value="20"/>
  </appSettings>

  <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <connectionStrings>
      <add name="DMEntities"
           connectionString="metadata=res://*/DAL.DM.csdl|res://*/DAL.DM.ssdl|res://*/DAL.DM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=46.236.28.183,1979;initial catalog=DM;persist security info=True;user id=pracedoSQL;password=0ptipl3x!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings><applicationSettings>
        <CreateOpportunity.Properties.Settings>
            <setting name="TestDB" serializeAs="String">
                <value>Data Source=V0101865DBMS001;Initial Catalog=DM;Integrated Security=True</value>
            </setting>
            <setting name="CreateOpportunity_Enterprise_SforceService" serializeAs="String">
                <value>https://test.salesforce.com/services/Soap/c/46.0/0DF5E0000008T6J</value>
            </setting>
            <setting name="CreateOpportunity_CustomWebService_otisSoapServicesService"
                serializeAs="String">
                <value>https://cs84.salesforce.com/services/Soap/class/otisSoapServices</value>
            </setting>
        </CreateOpportunity.Properties.Settings>
    </applicationSettings>
</configuration>