<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings>
    <add key="userName" value="rahul.mahajan@mercia-group.co.uk.merciadev"/>
    <add key="password" value="Maadurgaa@1"/>
    <add key="passwordSecurityToken" value="MnJHD3w7W3iZ8NFomuhyJiTMM"/>
  </appSettings>
</configuration>